/* Full page background */
.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #8fe3e6, #9db9f0);
}

/* CENTER COLUMN */
.container {
  width: 100%;
  max-width: 500px;   /* SAME SIZE FOR ALL */
  text-align: center;
  padding-top: 30px;
}

/* Navigation */
nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

nav a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

/* All pages start from SAME point */
.page-content {
  display: flex;
  justify-content: center;
}

/* Common page styling */
.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.big-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.big-title {
  font-size: 32px;
  font-weight: bold;
}

.big-input {
  width: 280px;
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
}

.big-btn {
  padding: 10px 18px;
  font-size: 14px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
/* LIGHT MODE */
.app.light {
  background: linear-gradient(to bottom, #8fe3e6, #9db9f0);
  color: black;
}

/* DARK MODE */
.app.dark {
  background: linear-gradient(to bottom, #1e1e1e, #3a3a3a);
  color: white;
}

/* Buttons adapt to theme */
.app.dark button {
  background: #444;
  color: white;
}

.app.light button {
  background: white;
  color: black;
}

