.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.count {
  font-size: 50px;
  font-weight: bold;
}

.btn-group {
  display: flex;
  gap: 15px;
}

.btn-group button {
  padding: 10px 15px;
  font-size: 12px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
